@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Montserrat:wght@600&display=swap');
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    /*background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    */
}
:root{
    --mycolorPink:#FFDEE9;
    --myColorBlue:#B5FFFC; 
    --myColorGrey:#9e9e9e;
}
.main{
    font-family: 'Montserrat', sans-serif;
}

.main-header{
    background: url(fondo2.jpg);
    background-repeat: no-repeat;
    background-position:left;
    background-size:50%;
    
    height: 100vh;

    display: flex;
    flex-direction: column;
}
  .header-nav{
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3));
    height: 8vh;

    display:flex;
    justify-content: space-between;
    align-items: center;


  }
  .logo{
    width: 30%;
    color: white;
    font-size: 2.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .logo span{
    color: var(--myColorBlue)
  }

  .ul{
    height: 100%;
    width: 50%;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ul a{
    color:white;
    text-decoration: none;
  }

  .ul a:hover{
    color: var(--mycolorPink);
    
  }
   .ul span{
    color: var(--mycolorPink);
   }
 
 .content-header{
    /*border: 2px solid red;*/
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 }
   .content-titles{
    /*border: 4px solid green;*/
    width: 50%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

   }

    .content-titles h1{
      position:relative;
      left: 10%;
      color:var(--myColorGrey);
      font-size: 8rem;
    }
    .content-titles h2{
      position:relative;
      left: 10%;
      color: grey;
      font-size: 4rem;
    }
    .content-titles h2 span{
      color: var(--mycolorPink);
    }

/*Main*/
.aboutme{
  border: 2px solid blue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}
 .info{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
 }

  .info h1{
    font-size: 4rem;
    color: var(--myColorGrey);
  }
  .info h1 span{
    color: var(--mycolorPink);
  }
.aboutme img{
  height: 70vh;
  border: 7px solid rgb(200, 200, 200);
  
}
/* BOTON DESCARGA */
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color:var(--myColorGrey);
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color:var(--myColorBlue);
  transition: .5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: .5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: var(--myColorBlue);
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
